In [1]:
# DAY 2

In [2]:
#Create a List, tuple and Dictionary with 5 elements in it and how to access few elements based on the index. Try  with different examples

In [3]:
# List of popular programming languages
languages = ["Python", "Java", "C++", "JavaScript", "Ruby"]

# Access elements based on index
print("List Example (Programming Languages):")
print(f"First language: {languages[0]}")       # Accessing the first element
print(f"Third language: {languages[2]}")      # Accessing the third element
print(f"Last language: {languages[-1]}")      # Accessing the last element
print(f"Slice (2nd to 4th): {languages[1:4]}")  # Slicing from 2nd to 4th element

List Example (Programming Languages):
First language: Python
Third language: C++
Last language: Ruby
Slice (2nd to 4th): ['Java', 'C++', 'JavaScript']

In [4]:
# Tuple of common data types in programming
data_types = ("int", "float", "string", "boolean", "list")

# Access elements based on index
print("Tuple Example (Data Types):")
print(f"First data type: {data_types[0]}")     # Accessing the first element
print(f"Second data type: {data_types[1]}")    # Accessing the second element
print(f"Last data type: {data_types[-1]}")     # Accessing the last element
print(f"Slice (1st to 3rd): {data_types[0:3]}")  # Slicing first three elements

Tuple Example (Data Types):
First data type: int
Second data type: float
Last data type: list
Slice (1st to 3rd): ('int', 'float', 'string')

In [5]:
# Creating a dictionary with 5 elements
my_dict = {
    'name': 'John',
    'age': 30,
    'country': 'USA',
    'profession': 'Teacher',
    'hobby': 'Cycling'
}

# Access elements based on key
print("Dictionary Example:")
print(f"Value for key 'name': {my_dict['name']}")   # Accessing value for 'name'
print(f"Value for key 'age': {my_dict['age']}")     # Accessing value for 'age'
print(f"Value for key 'hobby': {my_dict['hobby']}") # Accessing value for 'hobby'

Dictionary Example:
Value for key 'name': John
Value for key 'age': 30
Value for key 'hobby': Cycling